.comments {
    background-color: $dark_blue_main;
    padding: 3rem 7rem 15rem;
    position: relative;
    z-index: 0;

    .comment-quotes {
        position: absolute;
        top: 1rem;
        left: 6.5rem;
        z-index: -1;
    }

    .cards {
        display: flex;
        justify-content: space-between;

        .card {
            background-color: $dark_blue_testimonials;
            color: white;
            padding: 2.5rem 2rem 0;
            border-radius: 6px;
            width: 31.5%;
            box-shadow: 2px 2px 4px #21293c;

            .card-info {
                display: flex;
                padding: 1.5rem 0;
                align-items: center;
            }

            .profile {
                border-radius: 50%;
                width: 40px;
                margin-right: 10px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}