footer {
    position: relative;
    background-color: $dark_blue_footer;

    .footer-access {
        position: absolute;
        left: 25%;
        z-index: 1;
        width: 50%;
        margin: 0 auto;
        padding: 2rem 3rem;
        text-align: center;
        background-color: $dark_blue_intro_mail;
        border-radius: 10px;
        top: -7.2rem;
        box-shadow: 2px 4px 5px black;

        p {
            padding: 1.5rem 0;
        }

        .footer-access-form {
            position: relative;
            display: flex;
            justify-content: space-between;

            input[type=email]{
                background-color: $white;
                padding: 1rem;
                border: 1px solid $white;
                border-radius: 50px;
                color: black;
                width: 60%;
                margin-bottom: 20px;
            }

            button {
                width: 35%;
                padding: 0.5rem;
                border-radius: 50px;
                background-color: $blue;
                border: 1px solid $blue;
                color: $white;
                height: 50px;

                &:hover {
                    background-color: $cyan;
                    border: 1px solid $cyan;
                    cursor: pointer;
                }
            }

            small {
                position: absolute;
                top: -17px;
                left: 20px;
                color: rgb(228, 74, 74);
            }
        }
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 13rem 5rem 3rem;

        .footer-wrapper {
            margin-top: 3rem;
            display: grid;
            list-style: none;
            grid-template-columns: 1.8fr 1fr 0.6fr 0.6fr 0.5fr;
            grid-gap: 60px;
            grid-template-rows: 1fr;

            .footer-position{
                display: flex;
                align-items: flex-start;
                margin: 7px 0;
            }

            .footer-info {
                .footer-info-1 {
                    margin: 7px 0;
                    display: flex;
                }
                .footer-info-2 {
                    margin: 17px 0;
                    display: flex;
                }
            }

            .footer-social-networks {
                display: flex;
                justify-content: space-between;
            }

            img {
                align-items: flex-start;
                margin-right: 1rem;
            }

            li {
                line-height: 30px;

                &:hover {
                    font-weight: bold;
                    text-decoration: underline;
                    margin: 0 auto;

                }
            }
        }
    }
}
