.header {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: $dark_blue_intro_mail;

    .header-wrapper {
        z-index: 0;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        align-items: center;

        .header-img {
            text-align: center;
            margin: 0 auto;
            width: 80%;
        }

        h1 {
            font-size: 34px;
            line-height: 3rem;
            margin: 2rem 0;
        }

        p {
            width: 60%;
            line-height: 1.4rem;
        }

        button {
            background-color: $blue;
            padding: 1rem;
            border-radius: 50px;
            border: 1px solid $blue;
            color: $white;
            margin: 1.5rem 0 5rem;
            width: 200px;

            &:hover {
                background-color: $cyan;
                border: 1px solid $cyan;
                cursor: pointer;
            }
        }
    }

    .header-wave {
        top: 20rem;
        position: absolute;
        z-index: -1;
        display: block;
        width: 100%;
    }
}