.info {
    background-color: hsl(218, 28%, 13%);

    .info-wrapper {
        width: 80%;
        margin: 0 auto;
        padding-top: 4rem;
        display: grid;
        text-align: center;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 4rem;

        .card {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 100%;

            p {
                line-height: 1.5rem;
                width: 80%;
                margin: 0.8rem 0;
            }

            h3 {
                margin-top: 2rem;
            }
        }
    }
}