.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: $dark_blue_intro_mail;

    .navbar-logo {
        width: 120px;
    }

    .navbar-menu {
        ul {
            list-style: none;
            display: flex;
            width: 250px;
            justify-content: space-between;

            li {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;

        .navbar-logo {
            margin-bottom: 20px;
        }
    }
}