.productive {
    background-color: $dark_blue_main;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .productive-img{
        width: 48%;

        img{
            width: 100%;
        }
    }

    .productive-text{
        width: 48%;

        p {
            margin: 1rem 0;
            line-height: 1.3rem;
        }

        .productive-link {
            color: #598e8e;

            &:hover {
                color: $white;
            }
        }
    }
}