@import "./variables";
@import "./navbar";
@import "./info";
@import "./header";
@import "./productive";
@import "./comments";
@import "./footer";

/* ----- GENERAL -----*/
*       { margin: 0; padding: 0; box-sizing: border-box; }
html    { color: white; overflow-x: hidden;}
body    { font-size: 16px; font-family: 'Open Sans', sans-serif; }

/* ----- RESPONSIVE -----*/
@media (max-width: 1000px) {
    footer {
        .footer-access {
            width: 80%;
            left: 10%;

            .footer-access-form {
                flex-direction: column;
                align-items: center;
                input[type=button]{
                    margin-top: 1rem;
                    width: 40%;
                }

                small {
                    left: 43.5%;
                }
            }
        }

        .footer-container {
            padding: 16rem 5rem 3rem;
        }
    }
}

@media (max-width: 830px) {
    .container {
        .comments {
            .cards {
                flex-direction: column;
                align-items: center;
                .card {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }

        .productive {
            flex-direction: column;
            text-align: center;
            padding: 8rem 0;
            .productive-img {
                width: 60%;
            }

            .productive-text {
                margin-top: 50px;
                width: 80%;
            }
        }

        .info {
            .info-wrapper {
                grid-template-rows: repeat(4, 1fr);
            }
        }
        .footer .footer-container {
            flex-direction: column;
            align-items: center;

            .footer-wrapper {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows:  repeat(5, 0.5fr);
                grid-gap: 30px;
                align-items: center;
                text-align: center;
                
                #position { grid-row: 1; grid-column: 1/3; }
                #info { grid-row: 2; grid-column: 1/3; }
                #about { grid-row: 3; grid-column: 1/3; }
                #contact { grid-row: 4; grid-column: 1/3; }
                #social-networks { grid-row: 5; grid-column: 1/3; }

                .footer-social-networks{
                    justify-content: space-evenly;
                }

                .footer-info {
                    margin: 0 auto;
                }
            }
        }
    }
}


@media (max-width: 570px) {
    .header .header-wrapper {
        .header-img {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }

    .comments {
        padding: 3rem 3rem 15rem;

        .comment-quotes {
            left: 2.5rem;
        }
    }

    .footer {
        .footer-access {
            padding: 1.5rem;
            top: -9rem;
            

            .footer-access-form {
                input[type=button] {
                    width: 80%
                }
                small {
                    left: 40%;
                }
            }
            
        }
    }
}

@media (max-width: 360px) {
    .container {
        .info {
            .info-wrapper {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
        }
    }
}