.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem;
  font-family: 'Raleway', sans-serif;
  background-color: #1c2431;
}

.navbar .navbar-logo {
  width: 120px;
}

.navbar .navbar-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-menu ul li {
  cursor: pointer;
}

.navbar .navbar-menu ul li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-logo {
    margin-bottom: 20px;
  }
}

.info {
  background-color: #181f2a;
}

.info .info-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 4rem;
}

.info .info-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.info .info-wrapper .card p {
  line-height: 1.5rem;
  width: 80%;
  margin: 0.8rem 0;
}

.info .info-wrapper .card h3 {
  margin-top: 2rem;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1c2431;
}

.header .header-wrapper {
  z-index: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrapper .header-img {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.header .header-wrapper h1 {
  font-size: 34px;
  line-height: 3rem;
  margin: 2rem 0;
}

.header .header-wrapper p {
  width: 60%;
  line-height: 1.4rem;
}

.header .header-wrapper button {
  background-color: #339ecc;
  padding: 1rem;
  border-radius: 50px;
  border: 1px solid #339ecc;
  color: white;
  margin: 1.5rem 0 5rem;
  width: 200px;
}

.header .header-wrapper button:hover {
  background-color: #65e2d9;
  border: 1px solid #65e2d9;
  cursor: pointer;
}

.header .header-wave {
  top: 20rem;
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
}

.productive {
  background-color: #181f2a;
  padding: 8rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productive .productive-img {
  width: 48%;
}

.productive .productive-img img {
  width: 100%;
}

.productive .productive-text {
  width: 48%;
}

.productive .productive-text p {
  margin: 1rem 0;
  line-height: 1.3rem;
}

.productive .productive-text .productive-link {
  color: #598e8e;
}

.productive .productive-text .productive-link:hover {
  color: white;
}

.comments {
  background-color: #181f2a;
  padding: 3rem 7rem 15rem;
  position: relative;
  z-index: 0;
}

.comments .comment-quotes {
  position: absolute;
  top: 1rem;
  left: 6.5rem;
  z-index: -1;
}

.comments .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments .cards .card {
  background-color: #202a3c;
  color: white;
  padding: 2.5rem 2rem 0;
  border-radius: 6px;
  width: 31.5%;
  -webkit-box-shadow: 2px 2px 4px #21293c;
          box-shadow: 2px 2px 4px #21293c;
}

.comments .cards .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .cards .card .profile {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.comments .cards .card p {
  font-size: 14px;
}

footer {
  position: relative;
  background-color: #0b1523;
}

footer .footer-access {
  position: absolute;
  left: 25%;
  z-index: 1;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
  background-color: #1c2431;
  border-radius: 10px;
  top: -7.2rem;
  -webkit-box-shadow: 2px 4px 5px black;
          box-shadow: 2px 4px 5px black;
}

footer .footer-access p {
  padding: 1.5rem 0;
}

footer .footer-access .footer-access-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-access .footer-access-form input[type=email] {
  background-color: white;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 50px;
  color: black;
  width: 60%;
  margin-bottom: 20px;
}

footer .footer-access .footer-access-form button {
  width: 35%;
  padding: 0.5rem;
  border-radius: 50px;
  background-color: #339ecc;
  border: 1px solid #339ecc;
  color: white;
  height: 50px;
}

footer .footer-access .footer-access-form button:hover {
  background-color: #65e2d9;
  border: 1px solid #65e2d9;
  cursor: pointer;
}

footer .footer-access .footer-access-form small {
  position: absolute;
  top: -17px;
  left: 20px;
  color: #e44a4a;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 13rem 5rem 3rem;
}

footer .footer-container .footer-wrapper {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: 1.8fr 1fr 0.6fr 0.6fr 0.5fr;
      grid-template-columns: 1.8fr 1fr 0.6fr 0.6fr 0.5fr;
  grid-gap: 60px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

footer .footer-container .footer-wrapper .footer-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 7px 0;
}

footer .footer-container .footer-wrapper .footer-info .footer-info-1 {
  margin: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-container .footer-wrapper .footer-info .footer-info-2 {
  margin: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-container .footer-wrapper .footer-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .footer-wrapper img {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 1rem;
}

footer .footer-container .footer-wrapper li {
  line-height: 30px;
}

footer .footer-container .footer-wrapper li:hover {
  font-weight: bold;
  text-decoration: underline;
  margin: 0 auto;
}

/* ----- GENERAL -----*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: white;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* ----- RESPONSIVE -----*/
@media (max-width: 1000px) {
  footer .footer-access {
    width: 80%;
    left: 10%;
  }
  footer .footer-access .footer-access-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-access .footer-access-form input[type=button] {
    margin-top: 1rem;
    width: 40%;
  }
  footer .footer-access .footer-access-form small {
    left: 43.5%;
  }
  footer .footer-container {
    padding: 16rem 5rem 3rem;
  }
}

@media (max-width: 830px) {
  .container .comments .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .comments .cards .card {
    width: 100%;
    margin-bottom: 2rem;
  }
  .container .productive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 8rem 0;
  }
  .container .productive .productive-img {
    width: 60%;
  }
  .container .productive .productive-text {
    margin-top: 50px;
    width: 80%;
  }
  .container .info .info-wrapper {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .container .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .footer .footer-container .footer-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (0.5fr)[5];
        grid-template-rows: repeat(5, 0.5fr);
    grid-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .container .footer .footer-container .footer-wrapper #position {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .footer .footer-container .footer-wrapper #info {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .footer .footer-container .footer-wrapper #about {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .footer .footer-container .footer-wrapper #contact {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .footer .footer-container .footer-wrapper #social-networks {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .footer .footer-container .footer-wrapper .footer-social-networks {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .footer .footer-container .footer-wrapper .footer-info {
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .header .header-wrapper .header-img {
    width: 100%;
  }
  .header .header-wrapper p {
    width: 100%;
  }
  .comments {
    padding: 3rem 3rem 15rem;
  }
  .comments .comment-quotes {
    left: 2.5rem;
  }
  .footer .footer-access {
    padding: 1.5rem;
    top: -9rem;
  }
  .footer .footer-access .footer-access-form input[type=button] {
    width: 80%;
  }
  .footer .footer-access .footer-access-form small {
    left: 40%;
  }
}

@media (max-width: 360px) {
  .container .info .info-wrapper {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
/*# sourceMappingURL=styles.css.map */